* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  position: relative;
  width: 100vw;
  height: 100vh;
  text-align: center;
  overflow-y: auto;
  background-color: #282c34;
  color: white;
}

.App-logo {
  height: 30vmin;
  pointer-events: none;
  animation: App-logo-spin infinite 20s linear;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: none;
  }
}

.App-header,
.App-content,
.App-body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
  margin-top: 10px;
}

.App-header {
  min-height: 20%;
  justify-content: space-between;
  font-size: calc(10px + 2vmin);
  padding: 10px;
}

.App-content {
  flex: 1;
  padding: 20px;
}

.App-link {
  color: #61dafb;
}

.real-button {
  background-color: #007BFF;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  color: white;
  font-size: calc(10px + 2vmin);
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s;
  position: sticky;

  &:hover {
    background-color: #0056b3;
  }
}

.content-box {
  width: 100%;
  padding: 30px;
  overflow-y: auto;
  max-height: 100%;
  text-align: justify;
  line-height: 1.5;
  word-wrap: break-word;
  /* box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2); */
  font-size: calc(10px + 2vmin);
  margin-bottom: 100px;
  margin-top: 25px;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.custom-select,
.tile-label {
  background-color: transparent;
  color: white;
}

.tile {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0;
  /* Reset margin to align with the grid */
  transition: transform 0.3s, box-shadow 0.3s;
  cursor: pointer;
}

.tile:hover {
  transform: translateY(-5px);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
  color: #007bff;
}

.tile-label {
  margin-top: 10px;
  justify-content: center;
  font-weight: bold;
  font-size: calc(10px + 2vmin);

  &:hover {
    color: #007bff;
  }
}

.tile-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  row-gap: 50px;
  column-gap: 50px;
  justify-items: center;
  padding: 50px;
}


/* Make icons a bit smaller for a better fit */
.tile svg {
  height: 8rem;
  /* Adjust icon size */
  width: 8rem;
  /* Adjust icon size */
}

/* Adjust the tile label size for better readability */
.tile-label {
  font-size: 1rem;
  /* Adjust label font size */
  margin-top: 15px;
  /* Adjust spacing between icon and label */
}

.select-header {
  margin-top: 70px;
  margin-bottom: 150px;
  font-weight: bold;
  font-size: calc(10px + 2vmin);
}

.model-select-label {
  font-weight: bold;
  font-size: calc(10px + 2vmin);
}

.model-container {
  background-color: #282c34;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
  /* height: 50vh; */
}

.model-dropdown {
  background-color: transparent;
  color: white;
  border: 2px solid #d9d9e3;
  padding: 10px 20px;
  border-radius: 4px;
  font-size: calc(10px + 2vmin);
  font-weight: bold;
}

.model-dropdown:hover {
  border-color: #007BFF;
}

.action {
  /* should be on the middle of the page */
  /* equidistant from top and bottom */
  margin-top: 150px;
  margin-bottom: 150px;
}

/* Styles for the question text box */
.question-input {
  background-color: transparent;
  color: white;
  border: 2px solid #61dafb;
  padding: 10px 20px;
  border-radius: 4px;
  font-size: calc(10px + 2vmin);
  width: 100%;
  margin-bottom: 20px;
  margin-top: 10px;
  text-align: center;
  resize: none;
  max-height: 200px;
  /* Set a maximum height */
  overflow-y: auto;
  /* Add a scrollbar when content overflows */
}

.question-input:focus {
  border-color: #007BFF;
  outline: none;
}

/* Styles for the answer text area */
.answer-textarea {
  background-color: #333;
  color: white;
  border: 2px solid #61dafb;
  padding: 10px 20px;
  border-radius: 4px;
  font-size: calc(10px + 2vmin);
  width: 100%;
  height: 200px;
  /* Set height to your preference */
}

.answer-textarea:focus {
  border-color: #007BFF;
  outline: none;
}

/* Styles for the form */
.qna-form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  max-width: 600px;
  /* Set max-width to your preference */
  margin: auto;
}

/* Additional button styles when input has text */
.real-button.has-text {
  background-color: #00AA00;
  /* Change to desired color */
}

.question-input {
  width: calc(100% - 40px);
  /* Reduce width by 40px to account for 20px padding on each side */
  padding: 10px 20px;
  /* 10px top and bottom padding, 20px left and right padding */
  margin: 10px 0;
  /* margin: auto; */
  margin-left: auto;
  /* Add some margin for spacing between the elements */
  box-sizing: border-box;
  /* Ensure that padding and border are included in total width/height */
}

.input-button-wrapper {
  padding-left: 40px;
  gap: 10px;
  display: flex;
  align-items: center;
}




/* Path: src/pages/sidePanel/SidePanel.css */
.chat-container {
  font-family: Arial, sans-serif;
  max-width: 600px;
  margin: 50px auto;
  border: 1px solid #e0e0e0;
  border-radius: 8px;
}

.message-container {
  max-height: 400px;
  overflow-y: scroll;
  padding: 15px;
}

.message {
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
}

.message.bot {
  background-color: #f2f2f2;
  align-self: flex-start;
}

.message.user {
  background-color: #2196F3;
  color: white;
  align-self: flex-end;
}

.input-container {
  display: flex;
  border-top: 1px solid #e0e0e0;
  padding: 10px;
}

.input-container input {
  flex: 1;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #e0e0e0;
  margin-right: 10px;
}

.input-container button {
  padding: 8px 15px;
  background-color: #2196F3;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.chat-history {
  list-style-type: none;
  padding-left: 0;
  /* Removes default padding */
}

.chat-history-item {
  margin-bottom: 10px;
  /* Space between each Q&A pair */
}

.chat-line {
  display: flex;
  align-items: center;
  margin-bottom: 5px;
  margin-top: 20px;
  /* If you want space between the question and answer */
}

.chat-line span[role="img"] {
  margin-right: 25px;
  /* Adjust space between emoji and text */
}

.form-container {
  position: fixed;
  /* Use fixed positioning */
  bottom: 0;
  /* Align to the bottom of the viewport */
  left: 0;
  /* Align to the left of the viewport */
  width: 100%;
  /* Take the full width of the viewport */
  background: #282c34;
  /* Match the background of the .App */
  /* padding: 20px; */
  /* Add some padding around the form */
}

/* You might need to adjust your input and button sizes to fit the new form container */
.input-button-wrapper {
  width: 100%;
  /* Ensure it spans the full width of .form-container */
  max-width: 600px;
  /* Max width can be the same as your form */
  margin: 0 auto;
  /* Center it within .form-container */
}

.top-container {
  position: sticky;
  /* This will make the element stick to the top of the page */
  top: 0;
  /* Defines the distance of the top outer edge of the element from the inner edge of the top of the nearest containing block */
  z-index: 1000;
  /* A high index ensures it stays above other elements */
}

.status {
  margin-top: 25px;
}

.dropzone {
  border: 2px dashed #ccc;
  border-radius: 4px;
  padding: 20px;
  text-align: center;
  cursor: pointer;
}

.input-button-wrapper.dragover .dropzone {
  border-color: #000;
}

/* Hide the default file input */
#file_input {
  display: none;
}

.dropzone-label.file-dragged-over {
  background-color: #61dafb;
  /* Light blue to indicate active drag */
  border: 2px dashed #007bff;
}

/* PageMetadata Component Styles */

.page-metadata {
  bottom: 0;
  left: 0;
  width: 100%;
  background: #282c34;
  color: white;
  display: flex;
  justify-content: start;
  /* Align content to the start */
  align-items: center;
  font-size: 0.9em;
  /* Adjust base font size as necessary */
  z-index: 10;
}

.metadata-content {
  display: flex;
  align-items: center;
  /* Space between items */
  gap: 5px;
  padding-left: 35px;
}

.icon-wrapper {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px;
  /* Padding around the icon for easier clickability */
}

.chatting-with {
  margin-right: 5px;
  /* Space after 'Chatting with:' text */
}

.page-metadata a {
  color: #61dafb;
  text-decoration: none;
  /* Removes underline */
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.page-metadata a:hover {
  text-decoration: underline;
  /* Adds underline on hover */
}

/* Responsive adjustments */
@media (max-width: 600px) {
  .page-metadata a {
    max-width: 100px;
    /* Adjust the max width for smaller screens */
  }
}

.server-not-running {
  /* background-color: #333 !important; */
  /* Ensures this background color is used */
  color: white !important;
  font-size: auto !important;
  /* border-left: 4px solid #61dafb !important; */
  padding: 20px !important;
  margin: 20px auto !important;
  /* Centers the block and provides margin */
  text-align: left !important;
  /* border-radius: 4px !important; */
  /* box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2) !important; */
  word-wrap: break-word !important;
  overflow-wrap: break-word !important;
  word-break: break-word !important;
  display: block !important;
  max-height: 100vh !important;
  overflow-y: auto !important;
  /* Adds scrolling to the container */
}

/* Specific markdown styles if needed */
.server-not-running h1,
.server-not-running h2,
.server-not-running h3,
.server-not-running h4,
.server-not-running h5,
.server-not-running h6 {
  color: #61dafb !important;
  /* Style for headers */
  margin-top: 1em !important;
}

.server-not-running p {
  margin-bottom: 1em !important;
}

.server-not-running a {
  color: #9bd1ff !important;
  /* Style for links */
  text-decoration: underline !important;
}

/* Ensure code blocks have a distinct style */
.server-not-running pre,
.server-not-running code {
  background-color: #2d2d2d !important;
  /* Dark background for code blocks */
  color: #f8f9fa !important;
  /* Light color for text */
  padding: 5px !important;
  border-radius: 4px !important;
  overflow-x: auto !important;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.spin {
  animation: spin 2s linear infinite;
}

.summary-title {
  color: #61dafb;
  /* Or any color that fits your design */
  margin: 20px 0;
  /* Adjust margin as needed */
  font-size: calc(10px + 2vmin);
  /* Adjust font size as needed */
  text-align: center;
  /* If you want to center the title */
}

.settings-container {
  /* background-color: #282c34; */
  /* Dark background */
  color: white;
  padding: 20px;
  border-radius: 10px;
  max-width: 300px;
  /* Set a max-width as per your design */
  margin: auto;
  margin-top: 70px;
  /* padding: 70px; */
  border: 0.5px solid #d9d9e3;
  margin-bottom: 30px;
}

.model-container {
  margin-bottom: 20px;
}

.model-select-label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

.model-dropdown {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
}

.model-info {
  text-align: left;
  font-size: 0.9rem;
  margin-bottom: 20px;
}

.slider-container {
  margin-bottom: 20px;
}

.slider-label {
  font-weight: bold;
}

.slider-description {
  font-size: 0.8rem;
  margin-bottom: 10px;
}

.slider {
  width: 100%;
  height: 2px;
  /* Slider line thickness */
  background: #61dafb;
  /* Slider line color */
  outline: none;
  opacity: 0.7;
  -webkit-transition: opacity .2s;
  transition: opacity .2s;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 20px;
  /* Slider handle width */
  height: 20px;
  /* Slider handle height */
  background: #61dafb;
  /* Slider handle color */
  cursor: pointer;
}

.slider::-moz-range-thumb {
  width: 20px;
  height: 20px;
  background: #61dafb;
  cursor: pointer;
}

.slider-metrics {
  display: flex;
  justify-content: space-between;
  font-size: 0.8rem;
}

.save-default-button {
  background-color: #007BFF;
  /* Green background */
  color: white;
  padding: 10px 15px;
  margin: 10px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-weight: bold;
}

.save-default-button:hover {
  background-color: #0056b3;
  /* Darker green */
}
